<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre</title>
    <link rel="stylesheet" href="about.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="about.js"></script>
  </head>
  <body>
    <nav>
      <div class="navLogo">
        <a href="#"><img src="../../assets/logo.png" alt="logo" /></a>
      </div>
      <div>
        <ul class="navLinks">
          <li><a href="../../index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="../Contact/contact.html">CONTACT</a></li>
        </ul>
      </div>
      <div class="navRight">
        <div id="myOverlay" class="overlay">
          <span class="closebtn" onclick="closeSearch()" title="Close Overlay">
            ×
          </span>
          <div class="overlay-content">
            <form id="searchForm" action="../Search/search.html" method="get">
              <input
                class="overlay-content-btn"
                type="text"
                placeholder="Search.."
                id="searchInput"
                name="search"
              />
              <button type="submit">
                <i class="fa fa-search"></i>
              </button>
            </form>
          </div>
        </div>
        <div class="navSearch">
          <img
            onclick="openSearch()"
            src="../../assets/lupa.png"
            alt="pesquisa"
          />
        </div>
        <div class="navLogin">
          <button type="button" id="loginButton">
            <a href="../Login/login.html">LOGIN</a>
          </button>
          <div id="usernameDisplay"></div>
          <button id="idlogoutButton">
            <img src="../../assets/sair.png" alt="sair" />
          </button>
        </div>
      </div>
    </nav>

    <main>
      <div class="mainBannerIntro">
        <div class="sexo">a</div>
        <div class="titleMainBanner">
          <h2>ABOUT</h2>
        </div>
      </div>
      <div class="mainAbout">
        <div class="mainAboutTitle">
          <h1>Informações</h1>
        </div>
        <div class="mainAboutInfos">
          <h2>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa quam
            nobis sed facilis assumenda officiis at repudiandae maxime voluptas
            eveniet. Fugiat eaque autem reiciendis architecto nulla vel
            necessitatibus mollitia corrupti. Lorem ipsum dolor sit amet
            consectetur adipisicing elit. Unde hic autem maxime quis iusto iure
            sapiente placeat eos, omnis explicabo, ea fuga vero dolorem. Nemo
            excepturi et maiores incidunt totam? Lorem, ipsum dolor sit amet
            consectetur adipisicing elit. Similique repellendus sapiente
            voluptates repellat soluta illum aspernatur hic animi in fugiat nemo
            laudantium perferendis culpa error tempora, nam quam dolore ratione.
          </h2>
        </div>
      </div>
      <footer>
        <div class="footer">
          <div class="footerLogo">
            <a href="#"><img src="../../assets/logo.png" alt="logo" /></a>
          </div>
          <div class="footerLinks">
            <ul class="footerNav">
              <li><a href="../../index.html">HOME</a></li>
              <li><a href="#">ABOUT</a></li>
              <li><a href="../Contact/contact.html">CONTACT</a></li>
            </ul>
          </div>
        </div>
        <div class="footerSection">
          <div class="footerLinksHelp">
            <ul class="footerInfo">
              <li><a href="#">FAQ</a></li>
              <li><a href="#">HELP</a></li>
              <li><a href="#">TERMOS</a></li>
              <li><a href="#">PRIVACIDADE</a></li>
            </ul>
          </div>
          <div class="footerSocial">
            <ul class="socialMedia">
              <li><a href="#">Facebook</a></li>
              <li><a href="#">Twitter</a></li>
              <li><a href="#">Whatsapp</a></li>
            </ul>
          </div>
        </div>
        <div class="copy">
          <h3>
            Copyright © 2024. Todos os direitos reservados para
            <a href="#">Movflx</a>
          </h3>
        </div>
      </footer>
    </main>
  </body>
</html>
