<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contato</title>
    <link rel="stylesheet" href="contact.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="contact.js"></script>
  </head>
  <body>
    <h1>Busca de Filmes por Gênero</h1>
    <form id="searchForm">
      <label for="genre">Gênero:</label>
      <select id="genre" name="genre"></select>
      <label for="releaseYear">Ano de Lançamento:</label>
      <input
        type="number"
        id="releaseYear"
        name="releaseYear"
        min="1800"
        max="2099"
      />
      <button type="submit">Buscar</button>
    </form>

    <div id="results"></div>
  </body>
</html>
