<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="cadastro.css" />
  </head>
  <body>
    <div class="mainDiv">
      <main>
        <div class="logoTop">
          <h1><a href="../../index.html">MOVFLX</a></h1>

          <div class="loginImageTop">
            <h2>CADASTRAR</h2>
            <div>
              <form class="CadastroInterface" action="Cadastro" method="get">
                <input
                  type="text"
                  name="usuario"
                  id="usuario"
                  placeholder="Nome de usuário"
                />
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Email"
                />
                <input
                  type="password"
                  name="senha"
                  id="senha"
                  placeholder="Senha"
                />
                <input type="submit" value="Cadastrar" id="entrar" />
              </form>
              <div class="loginGoogle">
                <span><hr /></span>
                <h2>OU</h2>
                <h3>JÁ POSSUI CONTA? <span><a href="../Login/login.html">ENTRE</a></span></h3>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
