<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="search.css" />
    <script src="../../app.js"></script>
  </head>
  <body>
    <nav>
      <div class="navLogo">
        <a href="#"><img src="../../assets/logo.png" alt="logo" /></a>
      </div>
      <div>
        <ul class="navLinks">
          <li><a href="../../index.html">HOME</a></li>
          <li><a href="about.html">ABOUT</a></li>
          <li><a href="../Contact/contact.html">CONTACT</a></li>
        </ul>
      </div>
      <div class="navRight">
        <div class="navLogin">
          <button type="button">
            <a href="../Login/login.html">LOGIN</a>
          </button>
        </div>
      </div>
    </nav>
    <main>
      <div class="titleSearch">
        <h1>Resultado</h1>
      </div>
      <div class="resultSearch">
        <div class="articleContainerMovie">
          <img src="../../assets/ucm_poster01.jpg" alt="posterMovie" />
          <div class="articleInfoMovie">
            <div>
              <h3>Nome do filme</h3>
              <h3>7.5</h3>
            </div>
            <div>
              <h4>2023</h4>
              <h5>144 min</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="infos"></div>
    </main>
  </body>
</html>
