<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="login.css" />
  </head>
  <body>
    <div class="mainDiv">
      <main>
        <div class="loginImageLeft">
          <img src="assets/loginImage.jpg" />
        </div>
        <div class="loginImageTop">
          <h1>MOVFLX</h1>
          <h2>BEM-VINDO NOVAMENTE</h2>
          <div>
            <form class="loginInterface" action="Login" method="get">
              <input type="email" name="email" id="email" />
              <input type="password" name="senha" id="senha" />
            </form>
          </div>
        </div>
      </main>
    </div>
  </body>
</html>
